<li [ngClass]="{'list-group-item-success': liked(), 'list-group-item-danger': disliked()}" class="list-group-item list-group-item-action">
    <div class="float-right"> {{ createdAt | date: 'short' }} </div>
    <h3> {{ title }} </h3>
    <div class="row">
        <div class="col-2 btn-group btn-group-vertical">
            <button (click)="onLoveIt()" class="btn btn-success">
                <span class="" *ngIf="positiveLoves()">({{ loveIts }})</span>
                <span *ngIf="!positiveLoves()">+</span>
            </button>
            <button (click)="onDislikeIt()" class="btn btn-danger mt-3">
                <span class="" *ngIf="negativeLoves()">({{ loveIts }})</span>
                <span *ngIf="!negativeLoves()">-</span>
            </button>
        </div>
        <div class="col-10">
            <p> {{ content }} </p>
        </div>
    </div>
    <button (click)="onRemove()" class="ml-auto d-block btn btn-link" [disabled]="isDeleting" title="Remove post">
        x
    </button>
</li>